.quizzes {
  h2 {
    padding: 20px 0;
  }
}

.list {
  max-height: 400px;
  overflow-y: auto;
  a {
    display: block;
    border-bottom: solid 1px #e6e6e6;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333!important;
    text-align: left;
    &:first-child {
      border-bottom: solid 1px #e6e6e6;
    }
    &:last-child {
      border-bottom: solid 1px transparent;
    }
  }
  .active {
    color: white!important;
    font-weight: bold;
    background-color: #ffaa30;
    border-bottom: solid 1px #ffaa30;
  }
}