.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #e6e6e6;
  height: 100%;
  .logo {
    a {
      display: flex;
      align-items: center;
      height: 100%;
      img {
        max-width: 200px;
        &.mobile {
          display: none;
        }
      }
    }
  }
  .user-info {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
    }
    span {
      display: flex;
      align-items: center;
      margin-left: 5px;
      svg {
        height: 100%;
        cursor: pointer;
      }
    }
  }
  .menu {
    font-size: 25px;
    display: flex;
    a, span {
      display: inline-block;
      padding: 5px;
    }
    a {
      color: #333333;
    }
  }
  .logout {
    color: orange;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .logo {
      a {
        img {
          max-width: 60px;
          &.desktop {
            display: none;
          }
          &.mobile {
            display:block;
          }
        }
      }
    }
    // .user-info {
    //   font-size: 13px;
    //   span {
    //     font-size: 13px;
    //   }
    // }
  }
}