.sidebar {
  position: relative;
  height: 100%;
  padding: 0 20px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1px;
    height: 95%;
    background-color: #e6e6e6;
  }
}