.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: solid 1px #e6e6e6;
  p {
    font-size: 13px;
    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    p {
      font-size: 11px;
    }
  }
}